@font-face {
    font-family: 'captcha';
    src: url('../fonts/captcha/Phorssa.ttf');
}

.cabinet {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 5%;
    box-sizing: border-box;
}

.userInfo {
    width: 70%;
    height: auto;
}

.userStory {
    width: 30%;
}

.storyBox {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.storyBox:hover {
    cursor: pointer;
}

.sbCircle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #FF8126;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbIcon {
    height: 48px;
}

.sbContent {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sbSpan {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: gray;
}

.sbTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sbPrice {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #FF8126;
}

#userName:disabled {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    border: none;
    color: black;
    background-color: transparent;
}

#userName {
    width: 500px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: transparent;
    border: none;
    border-bottom: 1px #FF8126 solid;
}

input:focus {
    outline: none;
}

.inputBody {
    display: flex;
    align-items: center;
}

.inputButton {
    height: 24px;
    margin-left: 10px;
}

.inputButton:hover {
    cursor: pointer;
}

.SimpeInputs:disabled {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: black;
    background-color: transparent;
}

.SimpeInputs {
    width: 500px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 1px #FF8126 solid;
}

.inputTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

select:focus {
    outline: none;
}

.orangeButton {
    width: auto;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background: #FF8126;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

#code {
    font-family: 'captcha';
    border: 1px black solid;
    font-size: 26px;
    padding: 10px;
}

#codeInput {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
}