.intro{
    height: 650px;
    width: 100%;
    background-image: url('../img/main.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
}
.introSpan{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: white;
}
.saleBLock{
    height: 360px;
    width: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.productsBLock{
    position: relative;
    width: 100%;
}
.sales{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center ;
    position: absolute;
    top: -100px;
}
body{
    height: 10000px;
}
.productName{
    color: #223263;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}