#modalBody{
    position: absolute;
    z-index: 100000000;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}
#modal{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent{
    position: relative;
    height: 600px;
    width: 500px;
    background-color: #FF8126;
    border-radius: 20px;
}
.modalHead{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#exitModal{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.modalHeadTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
}
.modalImageBody{
    height: 250px;
    width: 100%;
}
.modalImage{
    height: 100%;
    width: 100%;
}
.modalContentInfo{
    padding: 20px;
    box-sizing: border-box;
}
.modalContentInfoTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.modalContentInfoCategory{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #d8d8d8;
    font-size: 12px;
    margin-left: 10px;
}
.modalContentInfoHead{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.modalPrice{
    color: #25578a;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
body{
    overflow: hidden;
}
.cart{
    width: 100%;
}
.cartHeader{
    width: 100%;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #FF8126;
    padding-left: 5%;
    box-sizing: border-box;
}
.itemCount{
    width: 100%;
    display: flex;
}
.itemCountD{
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.itemCountD:hover{
    background-color: rgb(172, 172, 172);
}
.itemCountM{
    border-radius: 10px 0 0 10px;
}
.itemCountP{
    border-radius: 0 10px 10px 0;
}
.itemCountValue{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 32px;
    width: auto;
    min-width: 32px;
    display: flex;
    justify-content: center;
    align-items: center
}
#items{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    scrollbar-width: 0;
    height: 67vh;
    align-items: baseline;
    
}
#items::-webkit-scrollbar{
    display: none;
}
.cartBody{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.paymentBody{
    width: 30%;
    background-color: #FF8126;
    height: 67vh;
    border-radius: 20px 0 0 20px;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;;
}
.paymentTitle{
    font-weight: bold;
    color: white;
    font-size: 24px;
}
.paymentItem{
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.paymentButton{
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    font-size: 18px;
}
.paymentButton:hover{
    background-color: white;
    color: #FF8126;
}
.cartBody{
    width: 100%;
}
#paymentMessage{
    font-weight: bold;
    color: white;
    font-size: 26px;
}
#nullItems{
    font-family: 'Raleway', sans-serif;;
    font-weight: bold;
    color: #FF8126;
    font-size: 34px;
}